<ion-view title="{{ 'workout.TITLE' | translate }}">
    <ion-content has-bouncing="false">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Workout name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Time</span>
                <input type="text" placeholder="Time">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Date/Day</span>
                <input type="text" placeholder="Date/Day">
            </label>
        </div>
    </ion-content>
</ion-view>